<th:block xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/jasny-bootstrap.css" th:href="@{/css/jasny-bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/science_materials_base.css" th:href="@{/css/science_materials_base.css}"/>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/js/jasny-bootstrap.js" th:src="@{/js/jasny-bootstrap.js}"></script>
</th:block>
