<div class="smb">
<nav class="navbar navbar-inverse navbar-static-top" xmlns:th="http://www.thymeleaf.org">
    <div class="navbar-header"  >
        <a class="navbar-brand" href="/">
            <img th:src="@{/img/logo.png}" alt="Science Materials Base"></img>
        </a>
    </div>
    <h3 style="float:left;color:#FFFFFF">Science Materials Base</h3>
    <div class="navbar-collapse collapse navbar-right">
    <div th:if="${beans.currentSystemUser.isLogged()}">
        <ul class="nav navbar-nav">
            <th:block th:if="${beans.currentSystemUser.isStudent()}">
                <li><a href="/v1/all_files">Wszystkie pliki</a></li>
                <li><a href="/v1/files_by_subject">Przeglądaj pliki</a></li>
            </th:block>
            <th:block th:if="${beans.currentSystemUser.isAdmin()}">
                <li><a href="/v1/all_files">Wszystkie pliki</a></li>
                <li><a href="/v1/files_by_subject">Zarządzaj plikami</a></li>
                <li><a href="/v1/manage_subjects">Zarządzaj przedmiotami</a></li>
                <li><a href="/v1/manage_system_users">Zarządzaj użytkownikami</a></li>
            </th:block>
        </ul>
            <ul class="nav navbar-nav ">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span th:text="${beans.currentSystemUser.systemUser.name}"></span>
                        <span th:text="${beans.currentSystemUser.systemUser.surname}"></span>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/v1/logout">Wyloguj</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    <div th:unless="${beans.currentSystemUser.isLogged()}">
        <ul class="nav navbar-nav">
            <li><a href="/v1/login">Logowanie</a></li>
            <li><a href="/v1/register">Rejestracja</a></li>
        </ul>
    </div>
    </div>
</nav>
</div>