<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wszystkie pliki</title>
    <meta charset="UTF-8"/>
    <title>Science Materials Base</title>
    <th:block th:include="fragments/inclusion"/>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/navbar"></nav>
<div class="container">
    <div th:replace="fragments/alert"></div>
    <h2>Wszystkie pliki</h2>
    <div class="container">
        <table class="table" >
            <thead class="thead-inverse">
            <tr>
                <th>id</th>
                <th>Nazwa</th>
                <th>Data dodania</th>
                <th>Przedmiot</th>
                <th:block th:if="${beans.currentSystemUser.isAdmin()}">
                    <th></th>
                </th:block>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td>
                    <span th:text="${file.id}"></span>
                </td>
                <td>
                    <span><a th:href="@{'/v1/all_files/' +${file.url}}"  th:text="${file.url}"/></span>
                </td>
                <td>
                    <span th:text="${file.dateAdded.toString()}"></span>
                </td>
                <td>
                    <span th:text="${file.subject.getName()}"></span>
                </td>
                <th:block th:if="${beans.currentSystemUser.isAdmin()}">
                    <td>
                        <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#cancelModal"
                                th:attr="data-target=${'#deleteModal' + file.id}">Usuń
                        </button>
                        <div class="modal fade" id="myModal" th:attr="id=${'deleteModal' + file.id}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Usuń</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Na pewno chcesz usunąć: "<span th:text="${file.name}"></span>" ? </p>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="#" th:action="@{/v1/all_files/delete}" role="form" method="POST">
                                            <input type="hidden" name="id" th:value="${file.id}"/>
                                            <button type="submit" class="btn btn-danger">Tak</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Nie</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>