<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Przedmioty</title>
    <meta charset="utf-8"></meta>
    <th:block th:include="fragments/inclusion"/>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/navbar"></nav>
<div class="container">
    <h2>Przedmioty</h2>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Nazwa</th>
                <th>Data modyfikacji</th>
                <th>Opis</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject : ${subjects}">
                <td>
                    <span th:text="${subject.id}"></span>
                </td>
                <td>
                    <span><a th:href="@{/v1/files/by_subject_id(id=${subject.id})}" th:text="${subject.name}"/></span>
                </td>
                <td>
                    <span th:text="${subject.lastModified.toString()}"></span>
                </td>
                <td>
                    <span th:text="${subject.description}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>