<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uploaded Files</title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>
    <h2>Uploaded Files</h2>
    <p>List of uploaded files:</p>
        <ul>
            <li th:each="file : ${files}">
                <a th:href="${file}" th:text="${file}" />
            </li>
        </ul>
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <table><tr><td>File to upload: </td><td th:text="${file}"></td></tr></table>
        <br></br>
        <label class="btn btn-default btn-file">
            Choose File <input type="file" name="file" style="display: none;"></input>
        </label>
        <label class="btn btn-success btn-file">
            Upload <input type="submit" value="Upload" style="display: none;"></input>
        </label>
    </form>
</div>


</body>
</html>