<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Science Materials Base</title>
    <th:block th:include="fragments/inclusion"/>
</head>
<body>
<nav class="navbar navbar-default" th:replace="fragments/navbar" ></nav>
<div class="container">
    <div th:if="${message}">
        <h2 th:text="${message}"/>
    </div>
    <h2>Uploaded Files</h2>
    <p>List of uploaded files:</p>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Url</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td>
                    <span th:text="${file.id}"></span>
                </td>
                <td>
                    <span th:text="${file.name}"></span>
                </td>
                <td>
                    <span><a th:href="${file.url}" th:text="${file.url}" /></span>
                </td>
                <td>
                    <span th:text="X"> </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <form method="POST" enctype="multipart/form-data" action="/files">
        <table><tr><td>File to upload: </td><td th:text="${file}"></td></tr></table>
        <br></br>
        <label class="btn btn-default btn-file">
            Choose File <input type="file" name="file" style="display: none;"></input>
        </label>
        <label class="btn btn-success btn-file">
            Upload <input type="submit" value="Upload" style="display: none;"></input>
        </label>
    </form>
</div>


</body>
</html>